<% timestamp = log.attributes.key?("timestamp") ? DateTime.parse(log.attributes["timestamp"]) : log.timestamp %>
<li class="Box-row Box-row--hover-gray d-flex">
  <div class="mr-2" style="display: inline; flex-shrink: 0">
    <span title="Label: timestamp" class="mb-1 Label Label--gray"><%= timestamp.to_formatted_s(:rfc822) %></span>
    <br>
    <a href="<%= search_url(application: log.attributes["application"]) %>" title="Label: source" class="app-<%= log.attributes["application"]&.downcase || "unknown" %> Label Label--gray"><%= log.attributes["application"] || "unknown" %></a>
    <a href="<%= search_url(source: log.attributes["source"]) %>" title="Label: source" class="source-<%= log.attributes["source"]&.downcase || "unknown" %> Label Label--gray"><%= log.attributes["source"] || "unknown" %></a>
  </div>
  <div><pre class="ansi-up" style="display: inline"><%= parse_log(log.attributes["log"]) %></pre></div>
</li>
