<form action="/" method="get" class="d-flex flex-wrap" style="width: 100%">
  <input name="log" class="form-control mr-3" style="flex: 2 2" type="text" value="<%= params[:log] %>" placeholder="Type a query" aria-label="Search Query" />
  <input name="time_range"
        <% if params[:time_range] %>
          data-startdate="<%= params[:time_range].split(" - ").first %>"
          data-enddate="<%= params[:time_range].split(" - ").last %>"
        <% else %>
          value=""
        <% end %>
        class="form-control mr-3 js-date-range-picker flex-1"
        type="text"
        placeholder="Time Range"
        aria-label="Time Range" />
  <select name="application" class="form-select mr-3" aria-label="Select an Application">
    <option value="">Pick an App</option>
    <% @aggregations["applications"].each do |app| %>
    <option <% if app == params[:application] %>selected<% end %> value="<%= app %>"><%= app %></option>
    <% end %>
  </select>
  <select name="source" class="form-select mr-3" aria-label="Select a Source">
    <option class="text-gray-300" value="">Pick a Source</option>
    <% @aggregations["sources"].each do |source| %>
    <option <% if source == params[:source] %>selected<% end %> value="<%= source %>"><%= source %></option>
    <% end %>
  </select>
  <button class="btn" type="submit">Search</button>
</form>

<div class="mt-2 d-flex flex-justify-between">
  <%= render "search_help" %>

  <label class="switch tooltipped tooltipped-sw" aria-label="Auto-load new logs as they come in">
    <input <% if cookies["autoLoadLogs"] == "true" %>checked=""<% end %> type="checkbox" id="autoLoadLogs">
    <span class="slider round"></span>
  </label>
</div>
